In [1]:
%matplotlib inline

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from matplotlib import mlab
from matplotlib.dates import DateFormatter
import matplotlib.dates as mdates

In [41]:
df = pd.read_csv("wms.csv", sep=",")
df.columns = [
    "client_id",
    "date",
    "time",
    "temparature",
    "pressure",
    "humidity",
    "wind_speed",
    "wind_direction",
    "rain",
]

In [42]:
df.wind_speed = df.wind_speed.replace("wwww", "0")

In [43]:
df.wind_speed = df.wind_speed.astype(float).head(n=5)

In [44]:
df.head(5)

,client_id,date,time,temparature,pressure,humidity,wind_speed,wind_direction,rain
0,10101,2016-10-13,12:48:16,2747.0,91061.0,4265.0,1.00,150.0,111111.0
1,10101,2016-10-13,12:54:56,2747.0,91035.0,4275.0,7.14,40.0,111111.0
2,10101,2016-10-13,12:57:16,2747.0,91044.0,4258.0,8.83,335.0,111111.0
3,10101,2016-10-13,12:59:26,2747.0,91040.0,7253.0,9.38,330.0,111111.0
4,10101,2016-10-13,13:06:16,2747.0,91022.0,4252.0,6.24,185.0,111111.0

In [45]:
df[['temparature', 'pressure', 'humidity', 'wind_speed', 'wind_direction', 'rain']] = df[['temparature', 'pressure', 'humidity', 'wind_speed', 'wind_direction', 'rain']].apply(pd.to_numeric)

In [46]:
df.describe()

,client_id,temparature,pressure,humidity,wind_speed,wind_direction,rain
count,1678.0,1677.000000,1668.000000,1678.000000,5.0000,1678.000000,1677.000000
mean,10101.0,2568.403101,111061.177050,4721.179118,6.5180,152.473021,80394.888849
std,0.0,541.269877,101565.629728,949.395945,3.3335,296.495726,46368.228269
min,10101.0,2.000000,1.000000,-699.000000,1.0000,-3.000000,0.000000
25%,10101.0,2537.000000,91031.750000,4474.000000,6.2400,1.000000,11111.000000
50%,10101.0,2747.000000,91175.000000,4563.000000,7.1400,192.000000,111111.000000
75%,10101.0,2747.000000,91272.000000,5657.000000,8.8300,282.000000,111111.000000
max,10101.0,6040.000000,599109.000000,7253.000000,9.3800,11111.000000,111111.000000

In [47]:
rain = df['rain']
rain.head(5)

0    111111.0
1    111111.0
2    111111.0
3    111111.0
4    111111.0
Name: rain, dtype: float64

In [48]:
from dateutil.parser import parse
df['date'] = df['date'].apply(parse)