In [13]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

#### Reading the data from the CSV files, and changing the column names to lowercase, underscore.

In [28]:
df = pd.read_csv("wms.csv", sep=",")
df.columns = [
    "client_id",
    "date",
    "time",
    "temparature",
    "pressure",
    "humidity",
    "wind_speed",
    "wind_direction",
    "rain",
]

#### Total number of rows with columns count.

In [27]:
df.shape

(1678, 9)

#### Data types of each columns value.

In [21]:
df.dtypes

client_id           int64
date               object
time               object
temparature        object
pressure          float64
humidity          float64
wind_speed         object
wind_direction    float64
rain              float64
dtype: object

#### Standard description about the data based on values.

In [25]:
df.describe()

       client_id       pressure     humidity  wind_direction           rain
count     1678.0    1668.000000  1678.000000     1678.000000    1677.000000
mean     10101.0  111061.177050  4721.179118      152.473021   80394.888849
std          0.0  101565.629728   949.395945      296.495726   46368.228269
min      10101.0       1.000000  -699.000000       -3.000000       0.000000
25%      10101.0   91031.750000  4474.000000        1.000000   11111.000000
50%      10101.0   91175.000000  4563.000000      192.000000  111111.000000
75%      10101.0   91272.000000  5657.000000      282.000000  111111.000000
max      10101.0  599109.000000  7253.000000    11111.000000  111111.000000

In [26]:
df.head(n=10)

,client_id,date,time,temparature,pressure,humidity,wind_speed,wind_direction,rain
0,10101,2016-10-13,12:48:16,2747,91061.0,4265.0,1.0,150.0,111111.0
1,10101,2016-10-13,12:54:56,2747,91035.0,4275.0,7.14,40.0,111111.0
2,10101,2016-10-13,12:57:16,2747,91044.0,4258.0,8.83,335.0,111111.0
3,10101,2016-10-13,12:59:26,2747,91040.0,7253.0,9.38,330.0,111111.0
4,10101,2016-10-13,13:06:16,2747,91022.0,4252.0,6.24,185.0,111111.0
5,10101,2016-10-13,13:13:06,2747,91009.0,4191.0,7.07,100.0,111111.0
6,10101,2016-10-13,13:15:17,2747,91012.0,4091.0,5.83,120.0,111111.0
7,10101,2016-10-13,13:22:17,2747,91004.0,4077.0,5.56,130.0,111111.0
8,10101,2016-10-13,13:24:17,2747,91010.0,4084.0,8.60,305.0,111111.0
9,10101,2016-10-13,13:26:37,2747,91013.0,4040.0,9.27,285.0,111111.0