In [223]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [224]:
df = pd.read_csv("wms.csv", sep=",")
df.columns = [
    "client_id",
    "date",
    "time",
    "temparature",
    "pressure",
    "humidity",
    "wind_speed",
    "wind_direction",
    "rain",
]
df.head(5)

,client_id,date,time,temparature,pressure,humidity,wind_speed,wind_direction,rain
0,10101,2016-10-13,12:48:16,2747,91061.0,4265.0,1,150.0,111111.0
1,10101,2016-10-13,12:54:56,2747,91035.0,4275.0,7.14,40.0,111111.0
2,10101,2016-10-13,12:57:16,2747,91044.0,4258.0,8.83,335.0,111111.0
3,10101,2016-10-13,12:59:26,2747,91040.0,7253.0,9.38,330.0,111111.0
4,10101,2016-10-13,13:06:16,2747,91022.0,4252.0,6.24,185.0,111111.0

In [225]:
df.shape

(1678, 9)

In [226]:
df.dtypes

client_id           int64
date               object
time               object
temparature        object
pressure          float64
humidity          float64
wind_speed         object
wind_direction    float64
rain              float64
dtype: object

In [227]:
df.describe()

       client_id       pressure     humidity  wind_direction           rain
count     1678.0    1668.000000  1678.000000     1678.000000    1677.000000
mean     10101.0  111061.177050  4721.179118      152.473021   80394.888849
std          0.0  101565.629728   949.395945      296.495726   46368.228269
min      10101.0       1.000000  -699.000000       -3.000000       0.000000
25%      10101.0   91031.750000  4474.000000        1.000000   11111.000000
50%      10101.0   91175.000000  4563.000000      192.000000  111111.000000
75%      10101.0   91272.000000  5657.000000      282.000000  111111.000000
max      10101.0  599109.000000  7253.000000    11111.000000  111111.000000

In [228]:
temp = []
for i in df.temparature:
    a = "{:4}".format(i)
    b = str("{}.{}".format(a[:2], a[2:]))
    temp.append(b)

In [229]:
df.temparature = pd.Series(temp)

In [222]:
df.head(5)

,client_id,date,time,temparature,pressure,humidity,wind_speed,wind_direction,rain
0,10101,2016-10-13,12:48:16,27.47,91061.0,4265.0,1,150.0,111111.0
1,10101,2016-10-13,12:54:56,27.47,91035.0,4275.0,7.14,40.0,111111.0
2,10101,2016-10-13,12:57:16,27.47,91044.0,4258.0,8.83,335.0,111111.0
3,10101,2016-10-13,12:59:26,27.47,91040.0,7253.0,9.38,330.0,111111.0
4,10101,2016-10-13,13:06:16,27.47,91022.0,4252.0,6.24,185.0,111111.0